# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# MySQL
*.sql
*.sqlite

# Flask
instance/

# Logs
*.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db
