/* Estilização Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Centraliza verticalmente o conteúdo do header */
    justify-content: center; /* Centraliza horizontalmente o conteúdo do header */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: center; /* Centraliza a logo horizontalmente */
    align-items: center;
    flex: 1;
}
.logo img {
    max-width: 500px;
    height: auto;
}

.nav-menu {
    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #0056b3;
}

.logout {
    color: #bf303c;
    background-color: #ffe5e5;
}

.logout:hover {
    background-color: #f8d7da;
    color: #a71d2a;
}

main {
    padding: 4rem 1rem 1rem;
    margin-top: 4rem; /* Espaço para o header fixo */
    text-align: center;
}

.profile-container {
    background-color: #ffffff;
    border-radius: 8px;

    display: inline-block;
    padding: 2rem;
}

h1 {
    margin: 0;
    color: #333;
    font-size: 2rem;
}
