<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise dos Dados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Análise dos Dados</h1>
    <a href="{{ url_for('home') }}">Home</a>
    <h2>Incluir Dados</h2>
    <form method="POST" action="{{ url_for('analise_dos_dados') }}">
        <!-- Campos para os dados do programa -->
        <label for="nproduto">Nome do Produto:</label>
        <input type="text" name="nproduto" required>
        <label for="peso">Peso:</label>
        <input type="text" name="peso" required>
        <label for="datai">Data Inicial:</label>
        <
