<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise dos Dados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Análise dos Dados</h1>
    <ul>
        <li><a href="{{ url_for('consultar_dados') }}">Consultar Dados</a></li>
        <li><a href="{{ url_for('incluir_dados') }}">Incluir Dados</a></li>
    </ul>
</body>
</html>
