<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>Perfil</title>
</head>
<body>
    <header>
        <div class="header-container">
            <nav class="nav-menu">
                <a href="{{ url_for('relatorios') }}" class="nav-link">Relatórios</a>
                <a href="{{ url_for('ocorrencias') }}" class="nav-link">Ocorrências</a>
                <a href="{{ url_for('consultar_dados') }}" class="nav-link">Consultar Dados</a>
                <a href="{{ url_for('incluir_dados') }}" class="nav-link">Incluir Dados</a>
                <a href="{{ url_for('login') }}" class="nav-link logout">Logout</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="profile-container">
            <h1>Pagina Inicial</h1>
        </div>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Empresa">
        </div>
    </main>
</body>
</html>
