<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bem-vindo, {{ current_user.user }}!</h1>
    <ul>
        <li><a href="{{ url_for('relatorios') }}">Relatórios</a></li>
        <li><a href="{{ url_for('analise_dados') }}">Análise dos Dados</a></li>
        <li><a href="{{ url_for('ocorrencias') }}">Ocorrências</a></li>
    </ul>
</body>
</html>
